/*全局变量*/
:root{
    --yingying:3px 3px 2px #adadb1;
}
/*全局style'*/
*{
    margin: 0;
	padding: 0;
    outline: none;
}

/*---------------------------------------------------------------*/

/*wap视图*/
@media screen and (max-width: 1024px){
    html{
        height: 100%;
    }
    p,h2{
        text-shadow: 1px 1px 12px #adadb1;
    }  
    body{
        display: flex;
        flex-direction:column;
        height: 100%;
        background-position: center;
        /*-moz-background-size:100%; /* 老版本的 Firefox */
        /*background-size: 100%;*/
    }
/*---------------------------------------------------------------*/
    
/*顶栏*/ 
    /*TBar样式*/
    #Tbar{
        margin: 0px 8px;
        background-color:white;
        height: auto;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        box-shadow: 2px 2px 6px grey;
    }
    /*logo样式*/
    #logo{
        margin: 6px;
        background-color: blueviolet;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-shadow: var(--yingying);
    }
    /*标题样式*/
    #titles{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /*标题_中文样式*/
    #title1{
        font-size: 1.15rem;
        color: black;
    }
    /*标题_英语样式*/
    #title2{
        font-size: 0.5rem;
        color:hsla(0,0%,27%,1.00);
        padding-bottom: 2px;
    }
     /*预留按钮样式*/
    #Tbtn{
        margin: 6px;
        padding:0px 10px;
        background-color:#E9E9E9;
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    } 
    /*预留按钮鼠标悬停*/
    /*#Tbtn:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px #adadb1;
        background-color:#D4D4D4;
        border:solid;
        border-width: 1px;
    }*/
    
    /*预留按钮点击*/
    #Tbtn:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:#AFAFAF;
        box-shadow: none;
    }
    
/*---------------------------------------------------------------*/
    
/*通知样式*/
    /*全局*/
    #toastimg,#ttext,#btnm,#btnc{
        margin:0 2px 0 2px;
    }
    /*容器*/
    #ttop{
        padding: 8px;
        margin: 8px;
        display: flex;
        background-color: white;
        align-items:center;
        justify-content:space-between;
        box-shadow: var(--yingying);
        border-radius: 6px;
    }
    /*图标*/
    #toastimg{
        border-radius: 6px;
        width: 18px;
        height: 18px;
    }
    /*主要文本*/
    #ttext{
        flex: 1;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
 #btnm,#btnc{
        margin: 6px;
        padding:0px 10px;
        background-color:#E9E9E9;
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    } 
    /*按钮鼠标悬停*/
    /*#btnm:hover,#btnc:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px #adadb1;
        background-color:#D4D4D4;
        border:solid;
        border-width: 1px;
    }*/
    
    /*按钮点击*/
    #btnm:active,#btnc:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:#AFAFAF;
        box-shadow: none;
    }
    
    #btnc{
        display: none;
    }
    #btnm{
        display: flex;
    }
    
/*---------------------------------------------------------------*/
/*主体*/
    #Mbar{
        padding:  8px;
        margin: 0px 8px;
        display: flex;
        flex-direction:column;
        background-color: white;
        box-shadow: var(--yingying);
        border-radius: 6px;
        overflow-y:auto;
        flex: 1;
    }
    
    .mmin{
        height: 100%;
        width: 100%;
        flex-direction:column;
    }
    /*首页*/
    #page1{
        display: flex;
    }
    
    /*产品*/
    #page2{
        display: none ;
    }
    #applist{
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
    }
    .p2p{
        text-indent:2em;
    }
        .applabs{
        margin: 6px;
        display: flex;
        justify-content: center;
        width: 350px;
        height: auto;
        background-color: hsla(216,100%,88%,0.74);
        border-radius: 6px;
    }
    .midtext{
        flex: 1;
    }
    .appimg{
        margin: 4px;
        height: 64px;
        height: 64px;
    }
    .appdownload{
        display: flex;
        align-items:center;
        padding: 0 10px;
        margin: 24px 5px;
        background-color:hsla(132,100%,40%,1.00);
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    }
    /*
    .appdownload:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px hsla(132,100%,25%,1.00);
        background-color:hsla(132,100%,80%,1.00);
        border:solid;
        border-width: 1px;
    }
    */
    .appdownload:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:hsla(132,80%,40%,1.00);
        box-shadow: none;
    }
    .appname{
        font-size: 20px;
    }
    .appfunc{
        font-size: 16px;
    }
    .appv{
        font-size: 12px;
        color: gray;
    }
    
    /*支持*/
    #page3{
        display: none;
    }
    .p3p{
        text-indent:2em;
    }
    .p3p1{
        text-align: center;
        font-size: 1rem;
    }
    
    .btncall{
        height: 100%;
        padding: 0 10px;
        margin: 6px 10px;
        background-color:#E9E9E9;
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    }
    /*
    .btncall:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px #adadb1;
        background-color:#D4D4D4;
        border:solid;
        border-width: 1px;
    }
    */
    .btncall:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:#AFAFAF;
        box-shadow: none;
    }
    #callus{
        text-align: center;
        height: 30px;
    }

/*---------------------------------------------------------------*/
    
/*导航*/
    /*容器*/
    #Bbar{
        width: calc(100% - 16px);
        margin: 8px 8px 0px;
        background-color:white;
        display: flex;
        justify-content:space-around;
        border-radius: 6px 6px 0px 0px;
        box-shadow: 2px 2px 6px grey;
    }
    /*按钮*/
    .Bbtns{
        margin: 2px 0px;
        padding: 8px 8px 2px 8px;
        display: flex;
        align-items:center;
        justify-content:flex-end;
        flex-direction: column;
        transition: all 0.3s;
        border-radius: 6px;
    }
    
    #Bbtn1{
        background-color: #ADADB1;
    }
    
    /*按钮鼠标悬停*/
    .Bbtns:hover{
        transform: scale(1);
        transition: all 0.3s;
    }
    
    /*按钮按下*/
    .Bbtns:active{
        background-color: grey;
        transition: all 0.3s;
    }
    
    /*导航图标*/
    .bbtnimg{
        height:24px;
        width:24px;
    }

    /*导航文字*/
    .bbtext{
        font-size: 0.8rem;
        padding: 0;
        margin: 0;
    }
}

/*---------------------------------------------------------------*/

/*PC视图*/
@media screen and (min-width: 1025px){
   
    html{
        height: 100%;
    }
    p{
        text-shadow: var(--yingying);
    }  
    body{
        display: flex;
        flex-direction:column;
        height: 100%;
        background-position: center;
        /*-moz-background-size:100%; /* 老版本的 Firefox */
        /*background-size: 100%;*/
    }
/*---------------------------------------------------------------*/
    
/*顶栏*/ 
    /*TBar样式*/
    #Tbar{
        margin: 8px;
        margin-top: 2px;
        background-color:white;
        height: auto;
        display: flex;
        justify-content: space-between;
        border-radius: 6px;
        box-shadow: 2px 2px 6px grey;
    }
    /*logo样式*/
    #logo{
        margin: 6px;
        background-color: blueviolet;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-shadow: var(--yingying);
    }
    /*标题样式*/
    #titles{
        flex: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /*标题_中文样式*/
    #title1{
        font-size: 2vw;
        color: black;
    }
    /*标题_英语样式*/
    #title2{
        font-size: 0.9vw;
        color:hsla(0,0%,27%,1.00);
    }
     /*预留按钮样式*/
    #Tbtn{
        margin: 6px;
        padding:0px 10px;
        background-color:#E9E9E9;
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    } 
    /*预留按钮鼠标悬停*/
    #Tbtn:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px #adadb1;
        background-color:#D4D4D4;
        border:solid;
        border-width: 1px;
    }
    
    /*预留按钮点击*/
    #Tbtn:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:#AFAFAF;
        box-shadow: none;
    }
    
/*---------------------------------------------------------------*/
    
/*通知样式*/
    /*全局*/
    #toastimg,#ttext,#btnm,#btnc{
        margin:0 2px 0 2px;
    }
    /*容器*/
    #ttop{
        padding: 8px;
        margin: 8px;
        display: flex;
        background-color: white;
        align-items: center;
        justify-content:space-between;
        box-shadow: var(--yingying);
        border-radius: 6px;
    }
    /*图标*/
    #toastimg{
        border-radius: 6px;
        width: 18px;
        height: 18px;
    }
    /*主要文本*/
    #ttext{
        flex: 1;
        overflow: hidden;
        text-overflow:ellipsis;
        white-space:nowrap;
    }
    /*按钮*/
    #btnm,#btnc{
        margin: 6px;
        padding:0px 10px;
        background-color:#E9E9E9;
        border-radius: 6px;
        border:none;
        transition: all 0.3s;
        border:solid;
        border-color:#DCDCDC;
        border-width: 1px;
    } 
    /*按钮鼠标悬停*/
    #btnm:hover,#btnc:hover{
        transition: all 0.3s;
        box-shadow: 1px 1px 3px #adadb1;
        background-color:#D4D4D4;
        border:solid;
        border-width: 1px;
    }
    
    /*按钮点击*/
    #btnm:active,#btnc:active{
        transition: all 0.3s;
        transform: scale(0.95);
        background-color:#AFAFAF;
        box-shadow: none;
    }
    
/*---------------------------------------------------------------*/
/*主体*/
    #Mbar{
        padding:  8px;
        margin: 0px 8px;
        display: flex;
        flex-direction:column;
        background-color: white;
        box-shadow: var(--yingying);
        border-radius: 6px;
        flex: 1;
    }
    

/*---------------------------------------------------------------*/
    
/*导航*/
    /*容器*/
    #Bbar{
        width: calc(100% - 16px);
        margin: 0px 8px;
        background-color:white;
        height: auto;
        display: flex;
        justify-content:space-around;
        border-radius: 6px 6px 0px 0px;
        box-shadow: 2px 2px 6px grey;
        position: absolute;
        bottom: 0;
    }
    /*按钮*/
    .Bbtns{
        margin: 2px 0px;
        padding: 8px 8px 2px 8px;
        display: flex;
        align-items:center;
        justify-content:flex-end;
        flex-direction: column;
        transition: all 0.3s;
        border-radius: 6px;
    }
    /*按钮鼠标悬停*/
    .Bbtns:hover{
        transform: scale(0.85);
        transition: all 0.3s;
    }
    
    /*按钮按下*/
    .Bbtns:active{
        background-color: grey;
        transition: all 0.3s;
    }
    

    /*导航图标*/
    .bbtnimg{
        height:24px;
        width:24px;
    }

    /*导航文字*/
    .bbtext{
        font-size: 0.5vw;
        padding: 0;
        margin: 0;
    }
}